body {
    background-color: lightgray;
    width:100%;
  }

.nav {
    background-color: whitesmoke;
    margin-bottom: 20px;
}


.outer_container {
     width: 85%;
    margin: auto;
}


.outer_box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: white;
}

#left-bar {
     border:1px solid;
     width: 100%;
 
}

.page-header {
    border-bottom: 1px solid lightgray;
}

.para {
    margin-top: 10px;
    padding: 10px;
 
}

.title {
    color: rgb(0, 204, 153);
}


@media screen and ( max-width: 1024px ) {
    img.responsive { width: 200px; }
}
@media screen and ( min-width: 1025px) {
    img.responsive { width: 500px;}
}
img.responsive { height: auto; }


#main_img {
    float: left;
    
} 
@media screen and ( max-width: 1024px ) {
    img.comparison_img  { width: 250px; }
}
@media screen and ( min-width: 1025px) {
    img.comparison_img { width: 500px;}
}
img.comparison_img { height: auto; }


.footer {
    display: block;
    background-color: gray;
    color:white;
    height: 50px;
    text-align: center;
    border-top: 10px solid rgb(0, 204, 153);    
}

 